@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  padding: 50px 100px;
  border-radius: 12px;
  background: linear-gradient(
    to bottom,
    #4070fe 0%,
    #4070fe 40%,
    white 40%,
    white 100%
  );
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.card {
  height: 550px;
  width: 250px;
  padding: 4px;
  border-radius: 12px;
}

.card h2 {
  font-size: 26px;
  margin-top: 20px;
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
  outline: 5px solid #4070fe;
}

.socials {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socials a {
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.bi-facebook {
  color: #3b5998;
  width: 25px;
  height: 25px;
}

.bi-twitter {
  color: #1da1f2;
  width: 25px;
  height: 25px;
}

.bi-instagram {
  color: #dd247b;
  width: 25px;
  height: 25px;
}

.bi-youtube {
  color: #c4302b;
  width: 25px;
  height: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.buttons button {
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 18px;
  background-color: #4070fe;
  color: #fff;
  margin: 0 20px;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

.stats .p-stats {
  border-right: 1px solid rgb(92, 90, 90);
}

.stats .bi-heart,
.bi-chat,
.bi-share {
  margin-right: 5px;
}

.stats p {
  padding: 0 10px;
  color: rgb(92, 90, 90);
}

@media (max-width: 450px) {
  .contaier {
    width: 450px;
  }
}
